@import "../helpers/helpers";

.form {}
.form__field {
    position: relative;
    margin-bottom: 16px;
    &.is-error {
        border-color: var(--color-error);
        .form__input {
            border-color: var(--color-status-error, red);
        }
    }
}
.form__input {
    font-family: var(--font-base);
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    color: var(--color-base-text);
    background-color: var(--color-form-base-field, #fff);
    border: 1px solid var(--color-form-base-border, #cccccc);
    padding: 16px 24px;
    @include placeholder() {
        color: #bfbfbf;
        opacity: 1;
    }
    &:hover {
        border-color: #d8d8d8;
    }
    &:active {
        border-color: #d8d8d8;
    }
    &:focus {
        border-color: #d8d8d8;
    }
    &:disabled {
        color: rgba(191, 191, 191, 0.60);
        border-color: #ebeaea;
        @include placeholder() {
            color: rgba(191, 191, 191, 0.60);
        }
    }
}
.form__error-message {
    position: absolute;
    font-size: 12px;
    font-weight: 400;
    line-height: normal;
    color: var(--color-status-error, red);
}
.form__field-agreement {
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    color: #bfbfbf;
    .form__label {
        margin: 0;
    }
    a {
        color: currentColor;
        text-decoration-color: currentColor;
    }
}
.form__submit {
    background-color: var(--Shamrock-100);
    border: none;
    border-radius: 100px;
    padding: 20px 64px;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    color: var(--White-100);
    cursor: pointer;
    transition: background-color .3s;
    @include max-screen(767px) {
        width: 288px;
        padding: 12px 32px;
        font-size: 14px;
    }
    &:hover {
        background-color: var(--Shamrock-70);
    }
}
