@import "../helpers/helpers";

.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-family: var(--font-base);
    font-weight: var(--algus-button--font-weight);
    font-size: var(--algus-button--font-size);
    line-height: var(--algus-button--line-height);
    color: var(--algus-button--color);
    letter-spacing: var(--algus-button--letter-spacing);
    text-align: center;
    text-decoration: none;
    text-transform: var(--algus-button--text-transform);
    padding: var(--algus-button--padding);
    background-color: var(--algus-button--background);
    border: var(--algus-button--border-width) solid var(--algus-button--border-color);
    border-radius: var(--algus-button--border-radius);
    transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out, color 0.3s ease-in-out;
    &:hover:focus,
    &:hover {
        color: var(--algus-button--hover--color);
        background-color: var(--algus-button--hover--background);
        border-color: var(--algus-button--hover--border-color);
        text-decoration: none;
    }
    &:focus,
    &.focus {
        color: var(--algus-button--color);
        background-color: var(--algus-button--background);
        border-color: var(--algus-button--border-color);
        text-decoration: none;
    }
    &[disabled],
    &[disabled]:hover {
        color: #848282;
        background-color: #e0e0e0;
        border-color: #e0e0e0;
        pointer-events: none;
    }
}
.btn-primary {}
.btn-secondary {}
.btn-xlg {}
.btn-lg {}
.btn-norma {}
.btn-sm {}
.btn-xsm {}
.btn-block {
    display: flex;
    width: 100%;
}
.btn-link {
    border: none;
    padding: 0;
    color: var(--color-base-text);
    &:hover {
        border: none;
    }
}
