@import "../../helpers/helpers";

div.swiper-pagination-bullets {
    margin: clamp(9px, 2.08vw, 30px) auto 0;
    padding-left: 4px;
    white-space: nowrap !important;
    height: 13px;
}
span.swiper-pagination-bullet {
    width: clamp(6px, 0.69vw, 10px);
    height: clamp(6px, 0.69vw, 10px);
    opacity: 1;
    background-color: #d9dfe2;
    margin: 0 8px;
    transition: all 0.2s ease-in-out;
    transform: scale(1);
    border-radius: 30px;
    flex: 0 0 auto;
}
span.swiper-pagination-bullet-active {
    background-color: #01283c;
    transform: scale(1);
}
div.swiper-container-horizontal {
    > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
        transform: translateX(0);
    }
}
div.swiper-pagination-bullets-dynamic {
    text-align: center;
    .swiper-pagination-bullet {
        transform: scale(0);
    }
    .swiper-pagination-bullet-active-prev-prev {
        transform: scale(1);
    }
    span.swiper-pagination-bullet-active-prev {
        transform: scale(1);
    }
    .swiper-pagination-bullet-active-main {
        transform: scale(1);
    }
    span.swiper-pagination-bullet-active-next {
        transform: scale(1);
    }
    .swiper-pagination-bullet-active-next-next {
        transform: scale(1);
    }
}
div.swiper-pagination-clickable {
    .swiper-pagination-bullet {
        &:hover {
            background-color: #01283c;
        }
    }
}
