include ../../../node_modules/bemto.pug/bemto

+b.cookie
    +e.__title
        | Мы используем файлы
        a(href="#") cookie
    +e.text
        p для того, чтобы предоставить вам больше возможностей при использовании сайта
    +e.button
        a(href="javascript://") Хорошо

