extends layout/layout

block variables
    - const title = "Главная";
    - const pageClass = 'page-front';

block content
    .wrapper
        .header
            .header__middle
                .header__container.container
                    .header__logo.logo
                        a.logo__link(href="/") BotFarm
                    .header__solution
                        a.header__solution-link(href="#")
                            .header__solution-icon-wrapper
                                <svg class="header__solution-icon" width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <rect x="1" y="1.5" width="7" height="7" rx="2" stroke="black" stroke-opacity="0.85" stroke-width="1.5" />
                                <rect x="1" y="12.5" width="7" height="7" rx="2" stroke="black" stroke-opacity="0.85" stroke-width="1.5" />
                                <rect x="12" y="1.5" width="7" height="7" rx="2" stroke="black" stroke-opacity="0.85" stroke-width="1.5" />
                                <rect x="12" y="12.5" width="7" height="7" rx="2" stroke="black" stroke-opacity="0.85" stroke-width="1.5" />
                                </svg>
                            .header__solution-name Решения и продукты
                    .header__user.user
                        .user__link
                            .user__name Войти
                            .user__icon-wrapper
                                <svg class="user__icon" width="18" height="21" viewBox="0 0 18 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M17 19.5C17 16.7386 13.4183 14.5 9 14.5C4.58172 14.5 1 16.7386 1 19.5M9 11.5C6.23858 11.5 4 9.26142 4 6.5C4 3.73858 6.23858 1.5 9 1.5C11.7614 1.5 14 3.73858 14 6.5C14 9.26142 11.7614 11.5 9 11.5Z" stroke="black" stroke-opacity="0.85" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                </svg>
        .block.block-assistants
            .block__container.block-assistants__container.container
                .block__content.block-assistants__content
                    .block__header.block-assistants__header
                        .block__title.block-assistants__title Цифровые помощники для предпринимателей
                        .block__description.block-assistants__description Мы упрощаем и развиваем <span>ваше</span> дело
                    .block.block-assistants__list
                        .block.block-assistants__item
                            .block.block-assistants__item-name Задачи
                            .block.block-assistants__item-text Планируем и следим за вашими делами
                        .block.block-assistants__item
                            .block.block-assistants__item-name Встречи
                            .block.block-assistants__item-text Назначаем события и напоминаем о них
                        .block.block-assistants__item
                            .block.block-assistants__item-name Расписание
                            .block.block-assistants__item-text Ведём и записываем в свободные окошки
                        .block.block-assistants__item
                            .block.block-assistants__item-name Клиенты
                            .block.block-assistants__item-text Повышаем лояльность и привлекаем новых
        .block.block-cards
            .block__container.block-cards__container.container
                .block-cards__content
                    .block-cards__column-one
                        .block-cards__card.block-cards__card-one.card-one
                            .card-one__text-one Чат-боты
                            .card-one__arrow-one
                                <svg width="159" height="93" viewBox="0 0 159 93" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M14.8215 40.595C18.2798 43.95 21.7622 46.9886 26.2007 48.9811C32.7191 51.9073 39.8849 53.897 46.9259 55.0236C55.7402 56.4339 65.5372 57.236 74.3149 55.193C82.6566 53.2516 90.5344 48.2179 96.2684 41.9362C101.406 36.3077 105.139 29.6621 104.81 21.8463C104.549 15.65 101.956 9.58704 96.8473 5.89289C92.9251 3.05684 87.5637 1.51897 82.7292 2.19396C77.6258 2.90652 72.9246 6.1745 69.2042 9.54946C59.4108 18.4334 52.686 31.0378 51.0202 44.1527C50.1814 50.7559 49.8782 57.863 52.2767 64.1862C54.6012 70.3145 58.9844 75.4575 64.0934 79.476C70.3003 84.358 77.8457 87.658 85.454 89.6551C93.526 91.774 101.678 91.4449 109.808 89.8387C117.497 88.3194 124.716 85.4514 132.241 83.3726C135.434 82.4906 138.581 82.0173 141.884 82.0173" stroke="white" stroke-width="3" stroke-linecap="round" />
                                <circle cx="149" cy="77" r="9.5" fill="#9679DA" stroke="url(#paint0_linear_2010_705)" />
                                <circle cx="10" cy="36" r="9.5" fill="#9E3BB5" stroke="url(#paint1_linear_2010_705)" />
                                <defs>
                                <linearGradient id="paint0_linear_2010_705" x1="137.5" y1="69" x2="160.5" y2="84.5" gradientUnits="userSpaceOnUse">
                                <stop stop-color="white" stop-opacity="0.54" />
                                <stop offset="0.48" stop-color="white" stop-opacity="0.87" />
                                <stop offset="1" stop-color="white" stop-opacity="0.13" />
                                </linearGradient>
                                <linearGradient id="paint1_linear_2010_705" x1="-1.5" y1="28" x2="21.5" y2="43.5" gradientUnits="userSpaceOnUse">
                                <stop stop-color="white" stop-opacity="0.54" />
                                <stop offset="0.48" stop-color="white" stop-opacity="0.87" />
                                <stop offset="1" stop-color="white" stop-opacity="0.13" />
                                </linearGradient>
                                </defs>
                                </svg>
                            .card-one__text-two Меняем рутину <br>на творчество
                            .card-one__arrow-two
                                <svg width="424" height="153" viewBox="0 0 424 153" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g filter="url(#filter0_d_2010_706)">
                                <path d="M404.004 46.9445C405.277 56.6223 407.931 66.1113 407.001 75.9647C406.354 82.8145 404.495 89.787 401.701 96.0668C396.723 107.255 388.819 114.951 378.474 121.414C373.087 124.779 368.646 127.259 362.648 129.254C356.4 131.331 349.752 131.662 343.222 131.593C333.666 131.492 324.446 129.58 315.39 126.622C292.679 119.204 271.696 107.153 251.922 93.9104C232.731 81.058 215.04 66.4215 197.354 51.6228C188.372 44.1074 179.066 36.8961 169.102 30.7167C150.908 19.4334 129.976 14.1797 108.686 13.1182C83.7783 11.8764 56.2991 17.5714 40.1557 38.2093C33.5132 46.701 30.4111 56.157 27.6924 66.3522" stroke="white" stroke-width="3" stroke-linecap="round" />
                                </g>
                                <g filter="url(#filter1_d_2010_706)">
                                <path d="M17.4399 47.7852C21.6543 52.2141 25.3335 57.5261 25.9366 63.7893C26.1291 65.7879 26.0578 67.8388 25.6302 69.8007C25.4704 70.5339 25.2915 71.2629 25.1537 72.0007C25.0733 72.4314 25.0509 72.8916 24.9231 73.3117C24.8807 73.4509 25.1335 73.1068 25.2114 72.9839C25.7703 72.1026 26.2813 71.1941 26.8531 70.3196C28.7087 67.4817 30.7602 64.8628 33.0375 62.3509C35.1423 60.0292 37.4092 57.6227 40.3203 56.3152C42.5178 55.3283 45.2279 54.7812 47.6457 55.0498" stroke="white" stroke-width="3" stroke-linecap="round" />
                                </g>
                                <defs>
                                <filter id="filter0_d_2010_706" x="11.1919" y="0.457031" width="412.502" height="151.644" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                                <feFlood flood-opacity="0" result="BackgroundImageFix" />
                                <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha" />
                                <feOffset dy="4" />
                                <feGaussianBlur stdDeviation="7.5" />
                                <feComposite in2="hardAlpha" operator="out" />
                                <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.14 0" />
                                <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_2010_706" />
                                <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_2010_706" result="shape" />
                                </filter>
                                <filter id="filter1_d_2010_706" x="0.939941" y="35.2852" width="63.2058" height="58.5564" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                                <feFlood flood-opacity="0" result="BackgroundImageFix" />
                                <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha" />
                                <feOffset dy="4" />
                                <feGaussianBlur stdDeviation="7.5" />
                                <feComposite in2="hardAlpha" operator="out" />
                                <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.14 0" />
                                <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_2010_706" />
                                <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_2010_706" result="shape" />
                                </filter>
                                </defs>
                                </svg>
                            a.card-one__button(href="#")
                                span.icon-before
                                    <svg width="29" height="27" viewBox="0 0 29 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M9.86208 2.42432C7.15022 2.73505 4.46659 3.34238 1.78711 3.84931" stroke="white" stroke-width="3" stroke-linecap="round" />
                                    <path d="M16.5119 10.895C14.7818 12.4577 12.6598 13.6773 10.6536 14.8533" stroke="white" stroke-width="3" stroke-linecap="round" />
                                    <path d="M26.6453 18.5742C25.4009 20.713 24.0672 22.8028 22.7661 24.9075" stroke="white" stroke-width="3" stroke-linecap="round" />
                                    </svg>
                                span Попробовать
                                span.icon-after
                                    <svg width="36" height="23" viewBox="0 0 36 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1.63623 10.1662C2.14186 9.63949 2.50885 8.93715 2.92928 8.34537C3.40572 7.67475 6.49948 2.65285 7 2" stroke="white" stroke-width="3" stroke-linecap="round" />
                                    <path d="M14.3818 14.9162C16.6769 13.0192 18.8902 11.0392 21.111 9.05786" stroke="white" stroke-width="3" stroke-linecap="round" />
                                    <path d="M21.8237 21.0119C26.0221 19.2051 30.227 17.4034 34.332 15.3911" stroke="white" stroke-width="3" stroke-linecap="round" />
                                    </svg>
                    .block-cards__column-two
                        .block-cards__card.block-cards__card-two.card-two
                            .card-two__title Понять, что вам нужно
                            .card-two__text Узнайте, какое решение подойдет лучше
                            a.card-two__button(href="#") Пройти тест
                        .block-cards__card.block-cards__card-three.card-three
                            .card-three__title Управленцы должны упрощать
                            .card-three__text Бесплатный вебинар <br> 14 марта 19:00
                            a.card-two__button(href="#") Учавствовать
        .block.block-business
            .block__container.block-business__container.container
                .block__header.block-business__header
                    .block__title.block-business__title Для бизнеса и самозанятых
                .block__content.block-business__content
                    .block-business__list
                        .block-business__item.block-business__item-one
                            .block-business__item-image-wrapper
                                img.block-business__item-image(src="/assets/img/block--business/image-01--1x.jpg", width="505", height="314")
                                .block-business__item-image-shadow
                            .block-business__item-content
                                .block-business__item-name Микропредприятиям, малому и среднему бизнесу
                                .block-business__item-list
                                    .block-business__item-item
                                        .block-business__item-icon
                                        .block-business__item-text Поможем увеличить прибыль с помощью персонализированных чат-ботов
                                    .block-business__item-item
                                        .block-business__item-icon
                                        .block-business__item-text Автоматизируем ручные операции
                                    .block-business__item-item
                                        .block-business__item-icon
                                        .block-business__item-text Повысим удовлетворённость клиентов и процент повторных покупок
                        .block-business__item.block-business__item-two
                            .block-business__item-image-wrapper
                                img.block-business__item-image(alt="", src="/assets/img/block--business/image-02--1x.jpg", width="505", height="314")
                                .block-business__item-image-shadow
                            .block-business__item-content
                                .block-business__item-name Тем, кто работает сам на себя
                                .block-business__item-list
                                    .block-business__item-item
                                        .block-business__item-icon
                                        .block-business__item-text Привлечём новых клиентов и укрепим доверие текущих
                                    .block-business__item-item
                                        .block-business__item-icon
                                        .block-business__item-text Упростим рабочие процессы
                                    .block-business__item-item
                                        .block-business__item-icon
                                        .block-business__item-text Повысим ценность вашего дела и соберём отзывы о нём
        .block.block-launch-now
            .block__container.block-launch-now__container.container
                .block__header.block-launch-now__header
                    .block__title.block-launch-now__title Запустим прямо сейчас
                    .block__description.block-launch-now__description Чтобы бизнес работал сам
                .block__content.block-launch-now__content
                    .block-launch-now__item.block-launch-now__item-close-tasks.close-tasks
                        .close-tasks__title Закроем задачи
                        .close-tasks__description Автоматизируем операционные процессы, чтобы помнить о заказах и выполнять их в срок
                        .close-tasks__content
                            .close-tasks__message.close-tasks__message-one
                                .close-tasks__name Бухгалтерия
                                .close-tasks__text Заказ №27771: <br>Сформирована накладная
                                .close-tasks__date 9:00
                            .close-tasks__message.close-tasks__message-two
                                .close-tasks__name Склад
                                .close-tasks__text Заказ №27771: <br>Ожидает сборки
                                .close-tasks__date 10:00
                            .close-tasks__message.close-tasks__message-three
                                .close-tasks__name Логистика
                                .close-tasks__text Заказ №27771: <br>Доставка с 10:00 до 13:00
                                .close-tasks__date 13:00

                    .block-launch-now__item.block-launch-now__item-create-chatbot.create-chatbot
                        .create-chatbot__title Создадим чат-бота
                        .create-chatbot__description Для формирования заказов, поддержки клиентов и сбора обратной связи
                        .create-chatbot__content
                            img.create-chatbot__phone(src="/assets/img/block--launch-now/phone.png", alt="", width="313", height="471")
                            img.create-chatbot__message.create-chatbot__message_right.create-chatbot__message-1(src="/assets/img/block--launch-now/create-chatbot__message-1.png", alt="", width="176", height="27")
                            img.create-chatbot__message.create-chatbot__message_left.create-chatbot__message-2(src="/assets/img/block--launch-now/create-chatbot__message-2.png", alt="", width="210", height="57")
                            img.create-chatbot__message.create-chatbot__message_right.create-chatbot__message-3(src="/assets/img/block--launch-now/create-chatbot__message-3.png", alt="", width="188", height="27")
                            img.create-chatbot__message.create-chatbot__message_left.create-chatbot__message-4(src="/assets/img/block--launch-now/create-chatbot__message-4.png", alt="", width="210", height="180")
                            img.create-chatbot__message.create-chatbot__message_right.create-chatbot__message-5(src="/assets/img/block--launch-now/create-chatbot__message-5.png", alt="", width="88", height="27")
                            img.create-chatbot__message.create-chatbot__message_left.create-chatbot__message-6(src="/assets/img/block--launch-now/create-chatbot__message-6.png", alt="", width="210", height="46")

        .block.block-we-will-be
            .block__container.block-we-will-be__container.container
                .block__header.block-we-will-be__header
                    .block__title.block-we-will-be__title Творите - мы будем рядом
                    .block__description.block-we-will-be__description Ваш подход уникален, и мы это ценим
                .block__content.block-we-will-be__content
                    .block-we-will-be__column
                        .block-we-will-be__item.block-we-will-be__item_1
                            .block-we-will-be__item-name Поймем именно ваш запрос
                            .block-we-will-be__item-text Погрузимся именно в вашу специфику и текущие бизнес-процессы
                        .block-we-will-be__item.block-we-will-be__item_2
                            .block-we-will-be__item-name Подберём разумное решение
                            .block-we-will-be__item-text А если готовых продуктов недостаточно - разработаем дополнительные
                    .block-we-will-be__column
                        .block-we-will-be__item.block-we-will-be__item_3
                            .block-we-will-be__item-name Разработаем персональный план
                            .block-we-will-be__item-text Проанализируем операционные задачи и предложим варианты улучшения
                        .block-we-will-be__item.block-we-will-be__item_4
                            .block-we-will-be__item-name Подружимся и будем сопровождать
                            .block-we-will-be__item-text Ваши текущие инструменты - наши друзья И даже, когда всё заработает - мы будем рядом

        .block.block-four-stages
            .block__container.block-four-stages__container.container
                .block__header.block-four-stages__header
                    .block__title.block-four-stages__title Четыре этапа
                    .block__description.block-four-stages__description От первой встречи до результата
                .block__content.block-four-stages__content
                    .block-four-stages__item
                        <svg class="block-four-stages__bullet" width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="18" cy="18" r="18" fill="#9AA4FF" fill-opacity="0.1" />
                        <circle cx="18" cy="18" r="14.9143" fill="#9AA4FF" fill-opacity="0.2" />
                        <circle cx="18" cy="18" r="11.8286" fill="#9AA4FF" fill-opacity="0.5" />
                        <circle cx="17.9999" cy="18" r="7.71429" fill="#9AA4FF" />
                        </svg>
                        <svg class="block-four-stages__dot" width="10" height="175" viewBox="0 0 10 175" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="7" cy="3" r="3" fill="#9AA4FF" />
                        <circle cx="5" cy="15" r="3" fill="#9AA4FF" />
                        <circle cx="3" cy="27" r="3" fill="#9AA4FF" />
                        <circle cx="3" cy="39" r="3" fill="#9AA4FF" />
                        <circle cx="3" cy="51" r="3" fill="#9AA4FF" />
                        <circle cx="3" cy="63" r="3" fill="#9AA4FF" />
                        <circle cx="3" cy="75" r="3" fill="#9AA4FF" />
                        <circle cx="3" cy="87" r="3" fill="#9AA4FF" />
                        <circle cx="3" cy="99" r="3" fill="#9AA4FF" />
                        <circle cx="3" cy="111" r="3" fill="#9AA4FF" />
                        <circle cx="3" cy="123" r="3" fill="#9AA4FF" />
                        <circle cx="3" cy="135" r="3" fill="#9AA4FF" />
                        <circle cx="3" cy="147" r="3" fill="#9AA4FF" />
                        <circle cx="5" cy="159" r="3" fill="#9AA4FF" />
                        <circle cx="7" cy="172" r="3" fill="#9AA4FF" />
                        </svg>
                        .block-four-stages__column
                            .block-four-stages__name Спрашиваем
                            .block-four-stages__text Задаём вопросы, анализируем модель и рабочие процессы. Обсуждаем, что можно упростить, а где - вырасти.
                        .block-four-stages__column
                            .block-four-stages__label Формат
                            .block-four-stages__values
                                .block-four-stages__value Встреча
                        .block-four-stages__column
                            .block-four-stages__label Результат
                            .block-four-stages__values
                                .block-four-stages__value Задание
                    .block-four-stages__item
                        <svg class="block-four-stages__bullet" width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="18" cy="18" r="18" fill="#9AA4FF" fill-opacity="0.1" />
                        <circle cx="18" cy="18" r="14.9143" fill="#9AA4FF" fill-opacity="0.2" />
                        <circle cx="18" cy="18" r="11.8286" fill="#9AA4FF" fill-opacity="0.5" />
                        <circle cx="17.9999" cy="18" r="7.71429" fill="#9AA4FF" />
                        </svg>
                        <svg class="block-four-stages__dot" width="10" height="175" viewBox="0 0 10 175" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="7" cy="3" r="3" fill="#9AA4FF" />
                        <circle cx="5" cy="15" r="3" fill="#9AA4FF" />
                        <circle cx="3" cy="27" r="3" fill="#9AA4FF" />
                        <circle cx="3" cy="39" r="3" fill="#9AA4FF" />
                        <circle cx="3" cy="51" r="3" fill="#9AA4FF" />
                        <circle cx="3" cy="63" r="3" fill="#9AA4FF" />
                        <circle cx="3" cy="75" r="3" fill="#9AA4FF" />
                        <circle cx="3" cy="87" r="3" fill="#9AA4FF" />
                        <circle cx="3" cy="99" r="3" fill="#9AA4FF" />
                        <circle cx="3" cy="111" r="3" fill="#9AA4FF" />
                        <circle cx="3" cy="123" r="3" fill="#9AA4FF" />
                        <circle cx="3" cy="135" r="3" fill="#9AA4FF" />
                        <circle cx="3" cy="147" r="3" fill="#9AA4FF" />
                        <circle cx="5" cy="159" r="3" fill="#9AA4FF" />
                        <circle cx="7" cy="172" r="3" fill="#9AA4FF" />
                        </svg>
                        .block-four-stages__column
                            .block-four-stages__name Предлагаем
                            .block-four-stages__text Определяем цели, сроки и оцениваем проект. Для больших задач составляем понедельный план от начала работы до запуска
                        .block-four-stages__column
                            .block-four-stages__label Формат
                            .block-four-stages__values
                                .block-four-stages__value Презентация
                        .block-four-stages__column
                            .block-four-stages__label Результат
                            .block-four-stages__values
                                .block-four-stages__value Задание (финал)
                                .block-four-stages__value Договор
                    .block-four-stages__item
                        <svg class="block-four-stages__bullet" width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="18" cy="18" r="18" fill="#9AA4FF" fill-opacity="0.1" />
                        <circle cx="18" cy="18" r="14.9143" fill="#9AA4FF" fill-opacity="0.2" />
                        <circle cx="18" cy="18" r="11.8286" fill="#9AA4FF" fill-opacity="0.5" />
                        <circle cx="17.9999" cy="18" r="7.71429" fill="#9AA4FF" />
                        </svg>
                        <svg class="block-four-stages__dot" width="10" height="175" viewBox="0 0 10 175" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="7" cy="3" r="3" fill="#9AA4FF" />
                        <circle cx="5" cy="15" r="3" fill="#9AA4FF" />
                        <circle cx="3" cy="27" r="3" fill="#9AA4FF" />
                        <circle cx="3" cy="39" r="3" fill="#9AA4FF" />
                        <circle cx="3" cy="51" r="3" fill="#9AA4FF" />
                        <circle cx="3" cy="63" r="3" fill="#9AA4FF" />
                        <circle cx="3" cy="75" r="3" fill="#9AA4FF" />
                        <circle cx="3" cy="87" r="3" fill="#9AA4FF" />
                        <circle cx="3" cy="99" r="3" fill="#9AA4FF" />
                        <circle cx="3" cy="111" r="3" fill="#9AA4FF" />
                        <circle cx="3" cy="123" r="3" fill="#9AA4FF" />
                        <circle cx="3" cy="135" r="3" fill="#9AA4FF" />
                        <circle cx="3" cy="147" r="3" fill="#9AA4FF" />
                        <circle cx="5" cy="159" r="3" fill="#9AA4FF" />
                        <circle cx="7" cy="172" r="3" fill="#9AA4FF" />
                        </svg>
                        .block-four-stages__column
                            .block-four-stages__name Разрабатываем
                            .block-four-stages__text Каждую неделю запускаем новый полезный интрумент. Постоянно остаёмся на связи и короткими перебежками движемся к цели.
                        .block-four-stages__column
                            .block-four-stages__label Формат
                            .block-four-stages__values
                                .block-four-stages__value 1 запуск/нед.
                        .block-four-stages__column
                            .block-four-stages__label Результат
                            .block-four-stages__values
                                .block-four-stages__value Готовое решение
                    .block-four-stages__item
                        <svg class="block-four-stages__bullet" width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="18" cy="18" r="18" fill="#9AA4FF" fill-opacity="0.1" />
                        <circle cx="18" cy="18" r="14.9143" fill="#9AA4FF" fill-opacity="0.2" />
                        <circle cx="18" cy="18" r="11.8286" fill="#9AA4FF" fill-opacity="0.5" />
                        <circle cx="17.9999" cy="18" r="7.71429" fill="#9AA4FF" />
                        </svg>
                        .block-four-stages__column
                            .block-four-stages__name Запускаем
                            .block-four-stages__text Вдохновляемся вашими успехами. Уходим наблюдать со стороны, но в любой момент готовы вернуться.
                        .block-four-stages__column
                            .block-four-stages__label Формат
                            .block-four-stages__values
                                .block-four-stages__value Презентация
                        .block-four-stages__column
                            .block-four-stages__label Результат
                            .block-four-stages__values
                                .block-four-stages__value Инструменты внедрены

        .block.block-tabs
            .block__container.block-tabs__container.container
                .block__header.block-tabs__header
                    .block__title.block-tabs__title Только то, что вам действительно нужно
                .block__content.block-tabs__content
                    .block-tabs__tabs
                        .block-tabs__tab.block-tabs__tab_theme_1.is-active(data-id="tab1") Клиенты
                        .block-tabs__tab.block-tabs__tab_theme_2(data-id="tab2") Чат-бот
                        .block-tabs__tab.block-tabs__tab_theme_3(data-id="tab3") Расписание
                        .block-tabs__tab.block-tabs__tab_theme_4(data-id="tab4") Задачи
                        .block-tabs__tab.block-tabs__tab_theme_5(data-id="tab5") Планы
                    .block-tabs__tabs-content
                        .block-tabs__tab-content.block-tabs__tab-content_theme_1.is-active(data-id="tab1")
                            .block-tabs__columnt-one
                                .block-tabs__name Цифровой администратор, который знает о ваших клиентах всё.
                                .block-tabs__text Стройте крепкие отношения с потребителями с помощью знаний о их предпочтениях. Делайте персональные предложения, повышайте повторные покупки и получайте отзывы от лояльных клиентов.
                            .block-tabs__columnt-two
                                .block-tabs__image-wrapper
                                    <svg class="block-tabs__image" width="411" height="411" viewBox="0 0 411 411" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <rect x="3" y="3" width="405" height="405" stroke="white" stroke-width="6" />
                                    <path d="M408 3L3 408" stroke="white" stroke-width="6" />
                                    <path d="M408 408L3 3" stroke="white" stroke-width="6" />
                                    </svg>
                        .block-tabs__tab-content.block-tabs__tab-content_theme_2(data-id="tab2")
                            .block-tabs__columnt-one
                                .block-tabs__name Создадим чат-бот для бизнеса, чтобы упростить рутинные задачи и привлечь клиентов.
                                .block-tabs__text Автоматизируем поддержку, ответы на частые вопросы и работу с возражениями. Откроем магазин или запустим образовательный курс. Привлечем новых клиентов и повысим доверие текущих с помощью игровых механик.
                            .block-tabs__columnt-two
                                .block-tabs__image-wrapper
                                    <svg class="block-tabs__image" width="411" height="411" viewBox="0 0 411 411" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <rect x="3" y="3" width="405" height="405" stroke="white" stroke-width="6" />
                                    <path d="M408 3L3 408" stroke="white" stroke-width="6" />
                                    <path d="M408 408L3 3" stroke="white" stroke-width="6" />
                                    </svg>
                        .block-tabs__tab-content.block-tabs__tab-content_theme_3(data-id="tab3")
                            .block-tabs__columnt-one
                                .block-tabs__name Электронный журнал компании с функцией онлайн-записи для клиентов.
                                .block-tabs__text Ведите единое электронное расписание для сотрудников и клиентов — будьте в одном информационном поле.
                            .block-tabs__columnt-two
                                .block-tabs__image-wrapper
                                    <svg class="block-tabs__image" width="411" height="411" viewBox="0 0 411 411" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <rect x="3" y="3" width="405" height="405" stroke="white" stroke-width="6" />
                                    <path d="M408 3L3 408" stroke="white" stroke-width="6" />
                                    <path d="M408 408L3 3" stroke="white" stroke-width="6" />
                                    </svg>
                        .block-tabs__tab-content.block-tabs__tab-content_theme_4(data-id="tab4")
                            .block-tabs__columnt-one
                                .block-tabs__name Функциональный трекер, который понимает стиль вашей работы.
                                .block-tabs__text Мотивируйте команду, двигайтесь к цели и оставайтесь всегда — единым целым.
                            .block-tabs__columnt-two
                                .block-tabs__image-wrapper
                                    <svg class="block-tabs__image" width="411" height="411" viewBox="0 0 411 411" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <rect x="3" y="3" width="405" height="405" stroke="white" stroke-width="6" />
                                    <path d="M408 3L3 408" stroke="white" stroke-width="6" />
                                    <path d="M408 408L3 3" stroke="white" stroke-width="6" />
                                    </svg>
                        .block-tabs__tab-content.block-tabs__tab-content_theme_5(data-id="tab5")
                            .block-tabs__columnt-one
                                .block-tabs__name Умный календарь для работыи жизни — он знает всёпро ваши дела.
                                .block-tabs__text Ставьте амбициозные бизнес-цели и планируйте личный рост. Отслеживайте прогресс с опорой на аналитику.
                            .block-tabs__columnt-two
                                .block-tabs__image-wrapper
                                    <svg class="block-tabs__image" width="411" height="411" viewBox="0 0 411 411" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <rect x="3" y="3" width="405" height="405" stroke="white" stroke-width="6" />
                                    <path d="M408 3L3 408" stroke="white" stroke-width="6" />
                                    <path d="M408 408L3 3" stroke="white" stroke-width="6" />
                                    </svg>
        script.
            document.addEventListener('DOMContentLoaded', blockTabs);
            function blockTabs() {
                const BLOCK = document.querySelector('.block-tabs');
                if (BLOCK) {
                    BLOCK.querySelectorAll('.block-tabs__tab').forEach(item => {
                        item.addEventListener('click', event => {
                            let id = event.currentTarget.getAttribute('data-id');
                            BLOCK.querySelectorAll('.block-tabs__tab').forEach(el => {
                                el.classList.remove('is-active');
                            });
                            event.currentTarget.classList.add('is-active');
                            BLOCK.querySelectorAll(`.block-tabs__tab-content`).forEach(el => {
                                el.classList.remove('is-active');
                            });
                            BLOCK.querySelector(`.block-tabs__tab-content[data-id="${id}"]`).classList.add('is-active');
                        })
                    });
                }
            }

        .block.block-personal-solution
            .block__container.block-personal-solution__container.container
                .block__content.block-personal-solution__content
                    .block-personal-solution__column-one
                        .block__header.block-personal-solution__header
                            .block__title.block-personal-solution__title Подберём персональное решение
                        .block-personal-solution__list
                            .block-personal-solution__item
                                .block-personal-solution__icon-wrapper
                                    <svg class="block-personal-solution__icon" width="60" height="60" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <rect x="2.5" y="2.5" width="55" height="55" stroke="white" stroke-width="3" />
                                    <path d="M58.5766 1.42334L1.42334 58.5766" stroke="white" stroke-width="3" />
                                    <path d="M58.5766 58.5767L1.42334 1.42338" stroke="white" stroke-width="3" />
                                    </svg>
                                .block-personal-solution__name Бесплатная консультация <br>с экспертом BotFarm

                            .block-personal-solution__item
                                .block-personal-solution__icon-wrapper
                                    <svg class="block-personal-solution__icon" width="60" height="60" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <rect x="2.5" y="2.5" width="55" height="55" stroke="white" stroke-width="3" />
                                    <path d="M58.5766 1.42334L1.42334 58.5766" stroke="white" stroke-width="3" />
                                    <path d="M58.5766 58.5767L1.42334 1.42338" stroke="white" stroke-width="3" />
                                    </svg>
                                .block-personal-solution__name Погрузимся в ваши задачи, <br>чтобы найти лучшее решение

                            .block-personal-solution__item
                                .block-personal-solution__icon-wrapper
                                    <svg class="block-personal-solution__icon" width="60" height="60" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <rect x="2.5" y="2.5" width="55" height="55" stroke="white" stroke-width="3" />
                                    <path d="M58.5766 1.42334L1.42334 58.5766" stroke="white" stroke-width="3" />
                                    <path d="M58.5766 58.5767L1.42334 1.42338" stroke="white" stroke-width="3" />
                                    </svg>
                                .block-personal-solution__name Составим персональный план, <br>с четкими вехами и результатом
                    .block-personal-solution__column-two
                        .block-personal-solution__form
                            form.form.form-personal-solution
                                .form__field
                                    input.form__input(type="text", placeholder="Имя")
                                .form__field
                                    input.form__input(type="text", placeholder="+7 (___) ___-__-__")
                                .form__field
                                    input.form__input(type="text", placeholder="your@mail.ru")
                                .form__action
                                    button.form__submit Хочу на консультацию
                                .form__field.form__field-checkbox
                                    input#form-personal-solution-checkbox(type="checkbox", checked)
                                    label.form__label(for="form-personal-solution-checkbox") Cогласие на обработку персональных данных

        .block.block-faq
            .block__container.block-faq__container.container
                .block__header.block-faq__header
                    .block__title.block-faq__title Вопросы и ответы
                .block__content.block-faq__content
                    .block-faq__item
                        .block-faq__name
                            span Могу ли я использовать отдельные инструменты, например Клиенты и Расписание ?
                            .block-faq__icon-wrapper
                                <svg class="block-faq__icon" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M8 0C7.44772 0 7 0.447715 7 1V6C7 6.55228 6.55228 7 6 7H1C0.447715 7 0 7.44771 0 8C0 8.55228 0.447715 9 1 9H6C6.55228 9 7 9.44772 7 10V15C7 15.5523 7.44772 16 8 16C8.55229 16 9 15.5523 9 15V10C9 9.44772 9.44772 9 10 9H15C15.5523 9 16 8.55229 16 8C16 7.44772 15.5523 7 15 7H10C9.44772 7 9 6.55228 9 6V1C9 0.447715 8.55229 0 8 0Z" fill="black" fill-opacity="0.85" />
                                </svg>
                        .block-faq__text Инструменты BotFarm работают автономно друг от друга. Подключайте новые решения по мере необходимости уже в процессе работы. Наш опыт показывает, что комплексное решение даёт результат быстрее.
                    .block-faq__item
                        .block-faq__name
                            span А как соединить мои текущие системы с вашими ?
                            .block-faq__icon-wrapper
                                <svg class="block-faq__icon" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M8 0C7.44772 0 7 0.447715 7 1V6C7 6.55228 6.55228 7 6 7H1C0.447715 7 0 7.44771 0 8C0 8.55228 0.447715 9 1 9H6C6.55228 9 7 9.44772 7 10V15C7 15.5523 7.44772 16 8 16C8.55229 16 9 15.5523 9 15V10C9 9.44772 9.44772 9 10 9H15C15.5523 9 16 8.55229 16 8C16 7.44772 15.5523 7 15 7H10C9.44772 7 9 6.55228 9 6V1C9 0.447715 8.55229 0 8 0Z" fill="black" fill-opacity="0.85" />
                                </svg>
                        .block-faq__text Мы подружим ваши привычные решения с новыми инструментами от BotFarm.  Соберём в одном месте складской учёт, кассовые сервисы, мессенджеры и соцсети.
                    .block-faq__item
                        .block-faq__name
                            span Сколько времени потребуется на внедрение и обучение ?
                            .block-faq__icon-wrapper
                                <svg class="block-faq__icon" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M8 0C7.44772 0 7 0.447715 7 1V6C7 6.55228 6.55228 7 6 7H1C0.447715 7 0 7.44771 0 8C0 8.55228 0.447715 9 1 9H6C6.55228 9 7 9.44772 7 10V15C7 15.5523 7.44772 16 8 16C8.55229 16 9 15.5523 9 15V10C9 9.44772 9.44772 9 10 9H15C15.5523 9 16 8.55229 16 8C16 7.44772 15.5523 7 15 7H10C9.44772 7 9 6.55228 9 6V1C9 0.447715 8.55229 0 8 0Z" fill="black" fill-opacity="0.85" />
                                </svg>
                        .block-faq__text Даже проект по внедрению всех наших решений мы ограничиваем рамками в 1,5 месяца. Каждую неделю запускаем по одной новой полезной функции и обучаем сотрудников. Оставьте заявку - позвоним, выслушаем Ваши требования и уточним сроки.

        .block.block-blog
            .block__container.block-blog__container.container
                .block__header.block-blog__header
                    .block__title.block-blog__title Блог
                .block__content.block-blog__content
                    .swiper
                        .swiper-wrapper
                            .swiper-slide
                                .blog
                                    a.blog__link(href="#")
                                        .blog__image-wrapper
                                        .blog__content
                                            .blog__title Текст
                                            .blog__description Текст
                            .swiper-slide
                                .blog
                                    a.blog__link(href="#")
                                        .blog__image-wrapper
                                        .blog__content
                                            .blog__title Текст
                                            .blog__description Текст
                            .swiper-slide
                                .blog
                                    a.blog__link(href="#")
                                        .blog__image-wrapper
                                        .blog__content
                                            .blog__title Текст
                                            .blog__description Текст
                    .swiper-button-prev
                        <svg width="16" height="26" viewBox="0 0 16 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M14 2L3 13L14 24" stroke="black" stroke-width="4" stroke-linecap="round" />
                        </svg>
                    .swiper-button-next
                        <svg width="16" height="26" viewBox="0 0 16 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M2 2L13 13L2 24" stroke="black" stroke-width="4" stroke-linecap="round" />
                        </svg>
        script.
            document.addEventListener('DOMContentLoaded', blockBlog);
            function blockBlog() {
                const swiper = new Swiper('.block-blog .swiper', {
                    slidesPerView: 2,
                    spaceBetween: 16,
                    breakpoints: {
                        768: {
                            spaceBetween: 24,
                        },
                        1024: {
                            spaceBetween: 52,
                        },
                    },
                });
            }

        .block.block-banner
            .block__container.block-banner__container.container
                .block__content.block-banner__content
                    .block__header.block-banner__header
                        .block__title.block-banner__title Расскажите о своём деле команде BotFarm
                    .block-banner__button-wrapper
                        a.block-banner__button(href="#")
                            span.value
                                span.name Стать клиентом
                                <svg width="18" height="17" viewBox="0 0 18 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M9.58807 16.4517L8.05398 14.9347L13.3807 9.608H0V7.39209H13.3807L8.05398 2.07391L9.58807 0.54834L17.5398 8.50005L9.58807 16.4517Z" fill="white" />
                                </svg>

        .footer
            .footer__container.container
                .footer__column-one
                    a.footer__big-link(href="#") Все возможности
                    ul.footer__menu-list
                        li.footer__menu-item
                            a.footer__menu-link(href="#") Планирование времени
                        li.footer__menu-item
                            a.footer__menu-link(href="#") Чат-боты
                        li.footer__menu-item
                            a.footer__menu-link(href="#") Задачи
                        li.footer__menu-item
                            a.footer__menu-link(href="#") пункт
                .footer__column-two
                    a.footer__big-link(href="#") База знаний
                    ul.footer__menu-list
                        li.footer__menu-item
                            a.footer__menu-link(href="#") пункт
                        li.footer__menu-item
                            a.footer__menu-link(href="#") пункт
                        li.footer__menu-item
                            a.footer__menu-link(href="#") пункт
                .footer__column-three
                    a.footer__big-link(href="#") Блог
                    ul.footer__menu-list
                        li.footer__menu-item
                            a.footer__menu-link(href="#") пункт
                        li.footer__menu-item
                            a.footer__menu-link(href="#") пункт
                        li.footer__menu-item
                            a.footer__menu-link(href="#") пункт
                .footer__column-four
                    .footer__logo BotFarm

