@import "../helpers/helpers";

.breadcrumbs {
    font-size: clamp(12px,0.97vw,14px);
    font-weight: 300;
    line-height: clamp(16px,1.39vw,20px);
    color: #677e8a;
    margin: clamp(16px,1.67vw,24px) 0;
}
.breadcrumbs__list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
}
.breadcrumbs__item {
    margin: 0;
}
.breadcrumbs__link {
    color: #677e8a;
    border: none;
    span {
        border-bottom: 1px solid rgba(103, 126, 138, 0.1);
    }
    &:hover {
        span {
            border-bottom-color: transparent;
        }
    }
}
.breadcrumbs__separate {
    margin: 0 4px;
}
.breadcrumbs__text {
    margin: 0;
}
