@import "../helpers/helpers";

.header {
    position: relative;
    z-index: 100;
}

.header-desktop {
    height: 96px;
    .header__main {
        position: fixed;
        background-color: #fff;
        top: 0;
        right: 0;
        left: 0;
        .header__container {
            display: flex;
            align-items: center;
            height: 96px;
            > * {
                flex: 0 0 auto;
            }
        }
        .header__logo {
            margin-right: 32px;
            z-index: 2;
            a {
                display: block;
                background: url("../img/logo.svg") 0 0 no-repeat;
                background-size: contain;
                border: none;
                width: 128px;
                height: 64px;
                font-size: 0;
            }
        }
        .header__menu-main {
            flex: 1;
            display: flex;
            justify-content: center;
            .menu-level-0 {
                display: flex;
                align-items: center;
                grid-gap: 48px;
                padding: 0;
                margin: 0;
                > .menu__item {
                    margin: 0;
                    &:before {
                        display: none;
                    }
                    > a {
                        display: block;
                        padding: 16px 0;
                        font-size: 18px;
                        font-weight: 400;
                        line-height: 20px;
                        color: #01283c;
                        border: none;
                        white-space: nowrap;
                        &:hover {
                            color: var(--color-base-link-hover);
                        }
                    }
                }
                > .menu__item.expanded {
                    position: relative;
                    &:hover {
                        .menu-level-1 {
                            opacity: 1;
                            visibility: visible;
                        }
                    }
                }
            }
            .menu-level-1 {
                position: absolute;
                top: 100%;
                left: -20px;
                background-color: #edf9f5;
                padding: 20px;
                opacity: 0;
                visibility: hidden;
                transition: opacity .3s, visibility .3s;
                margin: 0;
                @include resetMarginTop();
                @include resetMarginBottom();
                > .menu__item {
                    margin: 20px 0;
                    &:before {
                        display: none;
                    }
                    a {
                        font-size: 16px;
                        font-weight: 300;
                        line-height: 20px;
                        color: #01283c;
                        border: none;
                        white-space: nowrap;
                        &:hover {
                            color: var(--Shamrock-100);
                        }
                    }
                }
            }
        }
        .header__menu {
            margin-left: 64px;
            &.is-open {
                .header__menu-link {
                    &:before {
                        @include icomoon_base('\e90b', 18px);
                    }
                }
                .header__menu-wrapper {
                    opacity: 1;
                    visibility: visible;
                }
            }
            .header__menu-link {
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 32px;
                height: 32px;
                font-size: 0;
                border: none;
                z-index: 2;
                &:before {
                    @include icomoon_base('\e900', 18px);
                    color: #01283c;
                }
                &:hover {
                    &:before {
                        color: var(--color-primary);
                    }
                }
            }
            .header__menu-wrapper {
                opacity: 0;
                visibility: hidden;
                position: absolute;
                top: 96px;
                right: 0;
                left: 0;
                margin: auto;
                z-index: 1;
                transition: opacity .25s,visibility .25s;
                padding: 40px 0;
                &::after {
                    content: '';
                    background-color: #edf9f5;
                    z-index: -1;
                    position: absolute;
                    top: -96px;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    border-radius: 0 0 32px 32px;
                    //height: 589px;
                }
                .header__menu-content {
                    display: flex;
                    flex-direction: column;
                    grid-gap: 128px;
                    padding: 0 16px;
                }
                .header__image-product {
                    position: absolute;
                    bottom: 40px;
                    right: 64px;
                    //background-color: #4ebe99;
                    //mask-image: url('../img/mask.svg');
                    width: 206px;
                    height: 211px;
                    img {
                        opacity: 0;
                        //visibility: hidden;
                        position: absolute;
                        bottom: 0;
                        right: 0;
                        left: 0;
                        margin: auto;
                        &.is-hover {
                            opacity: 1;
                            //visibility: visible;
                        }
                        &[data-item="0"] {
                            opacity: 1;
                            //visibility: visible;
                        }
                    }
                }
                .header__menu-secondary {
                    display: grid;
                    grid-template-columns: repeat(4, 1fr);
                    grid-gap: 40px;
                }
                .header__menu-secondary-col {
                    @include resetMarginTop();
                    @include resetMarginBottom();
                }
                .header__menu-secondary-item {
                    margin: 48px 0;
                    @include resetMarginTop();
                    @include resetMarginBottom();
                    > a {
                        font-size: 32px;
                        font-weight: 400;
                        line-height: 28px;
                        border: none;
                        color: #01283c;
                        &:hover {
                            color: var(--color-base-link-hover);
                        }
                    }
                    ul {
                        padding: 0;
                        margin: 28px 0;
                        @include resetMarginTop();
                        @include resetMarginBottom();
                        li {
                            margin: 20px 0;
                            &:before {
                                display: none;
                            }
                            a {
                                font-size: 16px;
                                font-weight: 300;
                                line-height: 20px;
                                border: none;
                                color: #01283c;
                                &:hover {
                                    color: var(--color-base-link-hover);
                                }
                            }
                        }
                    }
                }
                .header__menu-contacts {
                    display: flex;
                    grid-gap: 40px;
                    align-items: flex-end;
                }
                .header__phone {
                    font-size: 32px;
                    font-weight: 400;
                    line-height: 34px;
                    a {
                        border: none;
                        color: currentColor;
                    }
                }
                .header__location {
                    max-width: 378px;
                }
            }
            .header__menu-inner {
                width: var(--container);
                margin: auto;
            }
            .header__menu-catalog-overlay {
                opacity: 0;
                visibility: hidden;
                background: rgba(0,0,0,.4);
                position: fixed;
                inset: 0;
                z-index: 0;
                transition: opacity .25s,visibility .25s;
            }
        }
        .header__language {
            position: relative;
            margin-left: 48px;
            z-index: 2;
            .language {
                position: relative;
                &:hover {
                    .language__list {
                        opacity: 1;
                        visibility: visible;
                    }
                }
            }
            .language__selected {
                cursor: pointer;
                font-size: 18px;
                font-weight: 400;
                line-height: 20px;
            }
            .language__list {
                opacity: 0;
                visibility: hidden;
                position: absolute;
                top: 100%;
                left: 0;
                background-color: #f9f8f8;
                padding: 16px;
                display: flex;
                flex-direction: column;
                grid-gap: 16px;
                transform: translateX(calc(-50% / 2));
                margin-top: 8px;
                transition: opacity .3s, visibility .3s;
                &::before {
                    content: '';
                    background-color: transparent;
                    position: absolute;
                    top: -8px;
                    left: 0;
                    right: 0;
                    z-index: 1;
                    height: 8px;
                }
            }
            .language__link {
                color: #01283c;
                border: none;
                &:hover {
                    color: var(--color-base-link-hover);
                }
            }
        }
    }
}
.header-mobile {
    display: none;
    height: 72px;
    align-items: center;
    > * {
        flex: 0 0 auto;
    }
    .header__main {
        position: fixed;
        background-color: #fff;
        top: 0;
        right: 0;
        left: 0;
        .header__container {
            display: flex;
            align-items: center;
            height: 72px;
            //width: 100%;
        }
        .header__logo {
            flex: 1;
            z-index: 2;
            a {
                display: block;
                background: url("../img/logo.svg") 0 0 no-repeat;
                background-size: contain;
                border: none;
                width: 96px;
                height: 48px;
                font-size: 0;
            }
        }
        .header__menu {
            margin-left: 40px;
            &.is-open {
                .header__menu-link {
                    &:before {
                        @include icomoon_base('\e90b', 18px);
                    }
                }
                .header__menu-wrapper {
                    opacity: 1;
                    visibility: visible;
                    height: calc(100vh - 72px);
                }
            }
        }
        .header__menu-link {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 32px;
            height: 32px;
            font-size: 0;
            z-index: 2;
            border: none;
            &:before {
                @include icomoon_base('\e900', 18px);
                color: #01283c;
            }
            &:hover {
                &:before {
                    color: var(--color-primary);
                }
            }
        }
        .header__menu-wrapper {
            opacity: 0;
            visibility: hidden;
            position: absolute;
            top: 72px;
            right: 0;
            left: 0;
            margin: auto;
            z-index: 1;
            transition: opacity .25s,visibility .25s;
            &::after {
                content: '';
                background-color: #edf9f5;
                z-index: -1;
                position: absolute;
                top: -72px;
                right: 0;
                bottom: 0;
                left: 0;
            }
            .header__image-product {
                position: absolute;
                bottom: 40px;
                right: 64px;
                background-color: #4ebe99;
                mask-image: url('../img/mask.svg');
                width: 206px;
                height: 211px;
                img {
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    left: 0;
                    margin: auto;
                }
            }
            .header__menu-secondary {
                display: block;
                margin-bottom: 46px;
                @include resetMarginTop();
                @include resetMarginBottom();
            }
            .header__menu-secondary-col {
                margin: 24px 0;
                @include resetMarginTop();
                @include resetMarginBottom();
            }
            .header__menu-secondary-item {
                margin: 24px 0;
                @include resetMarginTop();
                @include resetMarginBottom();
                > a {
                    font-size: 18px;
                    font-weight: 300;
                    line-height: 24px;
                    border: none;
                    color: #01283c;
                    &:hover {
                        color: var(--color-base-link-hover);
                    }
                }
                ul {
                    display: none;
                    padding: 0 0 0 24px;
                    margin: 24px 0;
                    @include resetMarginTop();
                    @include resetMarginBottom();
                    li {
                        margin: 12px 0;
                        &:before {
                            display: none;
                        }
                        a {
                            font-size: 14px;
                            font-weight: 300;
                            line-height: 22px;
                            border: none;
                            color: #01283c;
                            &:hover {
                                color: var(--color-base-link-hover);
                            }
                        }
                    }
                }
                &.expanded {
                    > a {
                        display: flex;
                        align-items: center;
                        grid-gap: 8px;
                        .icon {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            width: 16px;
                            height: 16px;
                            &:after {
                                @include icomoon_base('\e90c', 12px);
                            }
                        }
                    }
                    &.is-open {
                        > a {
                            .icon {
                                &:after {
                                    @include icomoon_base('\e90d', 12px);
                                }
                            }
                        }
                        ul {
                            display: block;
                        }
                    }
                }
            }
            .header__menu-contacts {
                @include resetMarginTop();
                @include resetMarginBottom();
            }
            .header__phone {
                font-size: 24px;
                font-weight: 400;
                line-height: 26px;
                margin: 16px 0;
                a {
                    border: none;
                    color: currentColor;
                }
            }
            .header__location {
                font-size: 14px;
                font-weight: 300;
                line-height: 20px;
                margin: 16px 0;
            }
        }
        .header__menu-inner {
            overflow: auto;
            width: 100vw;
            max-height: 100%;
            padding: 60px 16px 32px;
            margin: auto;
        }
        .header__menu-catalog-overlay {
            opacity: 0;
            visibility: hidden;
            background: rgba(0,0,0,.4);
            position: fixed;
            inset: 0;
            z-index: 0;
            transition: opacity .25s,visibility .25s;
        }
        .header__language {
            position: relative;
            margin-left: 48px;
            z-index: 2;
            .language {
                position: relative;
                &.is-open {
                    .language__selected {
                        font-size: 0;
                        &:before {
                            @include icomoon_base('\e90b', 14px);
                        }
                    }
                    .language__list {
                        opacity: 1;
                        visibility: visible;
                    }
                }
                //&:hover {
                //    .language__list {
                //        opacity: 1;
                //        visibility: visible;
                //    }
                //}
            }
            .language__selected {
                cursor: pointer;
                display: flex;
                justify-content: center;
                width: 18px;
                font-size: 14px;
                font-weight: 400;
                line-height: 20px;
            }
            .language__list {
                opacity: 0;
                visibility: hidden;
                position: absolute;
                top: 100%;
                left: 0;
                background-color: #f9f8f8;
                padding: 16px;
                display: flex;
                flex-direction: column;
                grid-gap: 16px;
                transform: translateX(-18px);
                margin-top: 8px;
                transition: opacity .3s, visibility .3s;
                &::before {
                    content: '';
                    background-color: transparent;
                    position: absolute;
                    top: -8px;
                    left: 0;
                    right: 0;
                    z-index: 1;
                    height: 8px;
                }
            }
            .language__link {
                border: none;
                color: #01283c;
                &:hover {
                    color: var(--color-base-link-hover);
                }
            }
        }
    }
}

@include max-screen(1023px) {
    .header-desktop {
        display: none;
    }
    .header-mobile {
        display: flex;
    }
}
