@import "../helpers/helpers";

.wrapper {
    overflow: hidden;
}
.container {
    margin: 0 auto;
    max-width: var(--container);
    @include max-screen(1023px) {
        max-width: none;
        padding-left: 16px;
        padding-right: 16px;
    }
}
main {
    flex: 1;
    width: 100%;
    @include resetMarginTop();
    @include resetMarginBottom();
}
aside {
    flex: 0 0 auto;
    //width: clamp(210px, 21.53vw, 310px);
    width: 310px;
    display: flex;
    flex-direction: column;
    grid-gap: 24px;
}

@include max-screen(1023px) {
    aside {
        display: none;
    }
}
