@import "../helpers/helpers";

.promo {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), url('../img/promo.jpg') center bottom no-repeat, lightgray 0px -18.316px / 100% 126.862% no-repeat;
    background-size: cover;
    height: clamp(576px,52.08vw,750px);
    z-index: -1;
    position: fixed;
    top: 96px;
    bottom: 0;
    left: 0;
    right: 0;
}
.promo__container {
    display: flex;
    align-items: flex-end;
    height: 100%;
    padding: 0 16px clamp(32px,4.44vw,64px);
}
.promo__content {
    display: flex;
    align-items: flex-end;
    grid-gap: clamp(16px,2.22vw,32px);
    user-select: none;
    h1 {
        margin: 0;
    }
    p {
        display: contents;
    }
}
.promo__title {
    font-size: clamp(64px,10.28vw,148px);
    font-weight: 400;
    line-height: clamp(56px,8.89vw,127px);
    color: #fff;
    letter-spacing: clamp(-2px,0.21vw,-3px);
}
.promo__description {
    font-size: clamp(14px,1.53vw,22px);
    font-weight: 400;
    line-height: clamp(20px,1.94vw,28px);
    color: #fff;
    padding-left: clamp(56px,7.78vw,112px);
    padding-right: clamp(0px, 6.67vw, 96px);
    margin-bottom: 7px;
}

@include max-screen(1023px) {
    .promo {
        top: 72px;
        height: calc(100vh - 72px);
    }
}
@include max-screen(812px) {
    .promo__content {
        flex-direction: column;
        align-items: flex-start;
    }
}

