@import "../helpers/helpers";

:root {
    --font-family: "Inter", sans-serif;
    --second-family: "SF Pro Text", sans-serif;
    --third-family: "Montserrat", sans-serif;

    //--font-base: var(--font-family);
    //--font-heading: "geologica", sans-serif;         // шрифт заголовков h1...h6

    //--font-size-xlg: 18px;
    //--font-size-lg: 16px;
    //--font-size-norma: 18px;
    //--font-size-sm: 12px;
    //--font-size-xsm: 10px;
}
