@import "helpers/helpers";

@import "config/config-grid";
@import "config/config-colors";
@import "config/config-fonts";

@import "base/base--reset";
@import "base/base--include-fonts";
@import "base/base--base";
@import "base/base--checkbox";
@import "base/base--radio";
@import "base/base--block";

@import "unique/layout";

.header__container {
    display: flex;
    align-items: center;
    height: clamp(48px,7.292vw,105px);
    @include max-screen(479px) {
        flex-direction: column;
        justify-content: flex-start;
        height: auto;
        padding: 16px 0;
        grid-gap: 8px;
    }
}
.header__logo {
    flex: 1;
}
.logo {
    font-family: var(--third-family);
    font-weight: 700;
    font-size: clamp(24px,2.5vw,36px);
    color: #2156f2;
}
.logo__link {
    color: currentColor;
    text-decoration: none;
    border: none;
}
.header__solution {
    margin-right: clamp(24px,4.375vw,63px);
}
.header__solution-link {
    display: flex;
    align-items: center;
    grid-gap: 10px;
    border: 2px solid transparent;
    border-radius: 37px;
    padding: 0 clamp(16px,1.389vw,20px);
    height: clamp(28px,2.708vw,39px);
    cursor: pointer;
    transition: all .3s;
    &:hover {
        background-color: rgba(0, 0, 0, 0.85);
        .header__solution-name {
            color: #fff;
        }
        .header__solution-icon {
            rect {
                stroke: #fff;
            }
        }
    }
}
.header__solution-icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: clamp(16px,1.667vw,24px);
    height: clamp(16px,1.667vw,24px);
}
.header__solution-icon {
    display: block;
    rect {
        transition: all .3s;
    }
}
.header__solution-name {
    font-weight: 400;
    font-size: clamp(16px,1.389vw,20px);
    line-height: 145%;
    color: rgba(0, 0, 0, 0.85);
    transition: all .3s;
}
.user__link {
    display: flex;
    align-items: center;
    grid-gap: 10px;
    border: 2px solid rgba(0, 0, 0, 0.85);
    border-radius: 37px;
    padding: 0 clamp(16px,1.389vw,20px);
    height: clamp(28px,2.708vw,39px);
    cursor: pointer;
    transition: all .3s;
    &:hover {
        background-color: rgba(0, 0, 0, 0.85);
        .user__name {
            color: #fff;
        }
        .user__icon {
            path {
                stroke: #fff;
            }
        }
    }
}
.user__name {
    font-weight: 500;
    font-size: clamp(16px,1.389vw,20px);
    line-height: 145%;
    text-align: center;
    color: rgba(0, 0, 0, 0.85);
    transition: all .3s;
}
.user__icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: clamp(16px,1.667vw,24px);
    height: clamp(16px,1.667vw,24px);
}
.user__icon {
    display: block;
    width: clamp(14px,1.25vw,18px);
    aspect-ratio: 18/21;
    max-width: 100%;
    path {
        transition: all .3s;
    }
}
.block-assistants__container {
    padding-top: clamp(24px,2.986vw,43px);
    padding-bottom: clamp(24px,24.236vw,349px);
    position: relative;
    &:after {
        content: '';
        border-radius: clamp(8px, 1.736vw, 25px);
        background-color: #f4fafd;
        position: absolute;
        top: 0;
        left: calc(0px - clamp(0px,5.069vw,73px));
        right: calc(0px - clamp(0px,5.069vw,73px));
        z-index: -1;
        height: 100%;
    }
}
.block-assistants__title {
    width: clamp(296px,40.069vw,577px);
    margin-bottom: clamp(16px,1.944vw,28px);
    @include max-screen(479px) {
        width: 100%;
    }
}
.block-assistants__description {
    font-weight: 400;
    span {
        font-style: italic;
    }
}
.block-assistants__header {
    margin-bottom: clamp(24px,6.597vw,95px);
}
.block-assistants__list {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 32px clamp(64px,7.5vw,108px);
    @include max-screen(1023px) {
        grid-template-columns: repeat(2,1fr);
    }
    @include max-screen(479px) {
        grid-template-columns: 1fr;
    }
}
.block-assistants__item-name {
    position: relative;
    font-weight: 600;
    font-size: clamp(20px,2.222vw,32px);
    line-height: 145%;
    margin-bottom: 10px;
    &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: clamp(144px,11.111vw,160px);
        height: 1px;
        background-color: rgba(127, 127, 127, 0.5);
    }
}
.block-assistants__item-text {
    font-weight: 400;
    font-size: clamp(16px,1.389vw,20px);
    line-height: 145%;
    color: rgba(0, 0, 0, 0.5);
}

.block-cards {
    margin-top: calc(0px - clamp(0px,17.986vw,259px));
    margin-bottom: clamp(64px,9.861vw,142px);
}
.block-cards__content {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    //grid-template-columns: clamp(0px,50vw,720px) clamp(0px,32.431vw,467px);
    grid-gap: 16px;
    @include max-screen(767px) {
        grid-template-columns: 1fr;
    }
}
.block-cards__column-two {
    display: grid;
    grid-gap: 16px;
    //@include max-screen(1204px) {
    //    grid-template-columns: 1fr 1fr;
    //}
    //@include max-screen(767px) {
    //    grid-template-columns: 1fr;
    //}
}
.block-cards__card {
    position: relative;
    border-radius: clamp(8px, 1.736vw, 25px);
    overflow: hidden;
}

.card-one {
    position: relative;
    height: 100%;
    background: linear-gradient(82deg, #ffc700 0%, rgba(255, 0, 122, 0.6) 29.86%, rgba(143, 0, 255, 0) 100%), linear-gradient(180deg, #478cf6 0%, #3060f1 100%);
    @include max-screen(767px) {
        height: 200px;
    }
}
.card-one__text-one {
    position: absolute;
    display: inline-flex;
    border-radius: 15px;
    font-weight: 600;
    font-size: clamp(14px,2.778vw,40px);
    line-height: 145%;
    padding: clamp(0px,0.417vw,6px) clamp(8px,1.11vw,16px);
    backdrop-filter: blur(15px);
    box-shadow: 0 4px 15px 0 rgba(97, 46, 95, 0.25);
    background: rgba(255, 255, 255, 0.36);
    top: clamp(0px,3.75vw,54px);
    left: clamp(0px,1.736vw,25px);
    @include max-screen(767px) {
        font-size: 16px;
    }
}
.card-one__text-two {
    position: absolute;
    display: inline-flex;
    border-radius: 15px;
    backdrop-filter: blur(50px);
    box-shadow: 0 4px 15px 0 rgba(79, 75, 125, 0.25);
    background: rgba(255, 255, 255, 0.15);
    padding: clamp(0px,0.972vw,14px) clamp(12px,2.222vw,32px);
    font-weight: 500;
    font-size: clamp(14px,2.222vw,32px);
    line-height: 145%;
    color: #fff;
    top: clamp(0px,9.583vw,138px);
    right: clamp(0px,1.389vw,20px);
}
.card-one__button {
    position: absolute;
    display: inline-flex;
    font-weight: 500;
    font-size: clamp(14px,1.389vw,20px);
    line-height: 145%;
    text-align: center;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 37px;
    padding: clamp(3px,0.347vw,5px) clamp(10px,1.389vw,20px);
    bottom: clamp(0px,3.819vw,55px);
    left: clamp(0px,2.083vw,30px);
    transition: all .3s;
    &:hover {
        background-color: #fff;
        color: var(--color-base-text);
    }
    .icon-before,
    .icon-after {
        position: absolute;
        @include max-screen(767px) {
            display: none;
        }
    }
    .icon-before {
        bottom: -22px;
        left: -15px;
    }
    .icon-after {
        top: -20px;
        right: -19px;
    }
}

.card-two {
    //aspect-ratio: 467/177;
    background-color: #343434;
    @include max-screen(1204px) {
        aspect-ratio: auto;
    }
    &:after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: linear-gradient(180deg, #343434 20%, rgba(0, 0, 0, 0.2) 100%);
    }
}
.card-three {
    //aspect-ratio: 467/205;
    background-color: #48b63f;
    @include max-screen(1204px) {
        aspect-ratio: auto;
    }
    &:after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: linear-gradient(352deg, #DBFF00 0%, transparent 100%);
    }
}
.card-two,
.card-three {
    padding: clamp(16px,1.111vw,16px) clamp(16px,1.667vw,24px) clamp(16px,1.744vw,21px);
}
.card-two__title,
.card-three__title {
    position: relative;
    z-index: 1;
    font-weight: 600;
    font-size: clamp(16px,1.806vw,26px);
    line-height: 145%;
    color: #fff;
    margin-bottom: clamp(6px,0.694vw,10px);
}
.card-two__text,
.card-three__text {
    position: relative;
    z-index: 1;
    font-weight: 500;
    font-size: clamp(16px,1.389vw,20px);
    line-height: 145%;
    color: rgba(255, 255, 255, 0.85);
    margin-bottom: clamp(16px,1.597vw,23px);
}

.card-two__button,
.card-three__button {
    position: relative;
    z-index: 1;
    font-weight: 500;
    font-size: clamp(14px,1.389vw,20px);
    line-height: 145%;
    text-align: center;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 37px;
    padding: clamp(3px,0.347vw,5px) clamp(10px,1.389vw,20px);
    &:hover {
        background-color: #fff;
        color: var(--color-base-text);
    }
}

.card-one__arrow-one {
    position: absolute;
    top: clamp(0px,5.347vw,77px);
    left: clamp(0px,16.736vw,241px);
    z-index: 1;
    @include max-screen(767px) {
        display: none;
    }
    svg {
        width: clamp(0px,11.042vw,159px);
        height: clamp(0px,6.458vw,93px);
    }
}
.card-one__arrow-two {
    position: absolute;
    bottom: clamp(0px,2.639vw,38px);
    left: clamp(0px,9.444vw,136px);
    @include max-screen(767px) {
        display: none;
    }
    svg {
        width: clamp(0px,29.444vw,424px);
        height: clamp(0px,10.625vw,153px);
    }
}

.block-business {
    margin-bottom: clamp(64px,13.889vw,200px);
}
.block-business__header {
    margin-bottom: clamp(24px,4.653vw,67px);
}
.block-business__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: clamp(0px,11.319vw,163px);
    @include screen(640px, 1023px) {
        grid-template-columns: 1fr;
        grid-gap: 64px;
    }
    @include max-screen(639px) {
        grid-template-columns: 1fr;
    }
}
.block-business__item {
    display: flex;
    flex-direction: column;
    grid-gap: clamp(24px,3.889vw,56px);
    @include screen(640px, 1023px) {
        flex-direction: row;
    }
}
.block-business__item-image-wrapper {
    position: relative;
    @include screen(640px, 1023px) {
        flex: 0 0 auto;
        width: 250px;
    }
}
.block-business__item-image {
    display: block;
    border-radius: clamp(8px, 1.736vw, 25px);
    overflow: hidden;
}
.block-business__item-image-shadow {
    position: absolute;
    bottom: -1px;
    left: 0;
    right: 0;
    border-radius: clamp(8px, 1.736vw, 25px);
    filter: blur(34px);
    width: 389px;
    height: 12px;
    margin: auto;
}
.block-business__item-one {
    .block-business__item-image-shadow {
        background: url("../img/block--business/image-01--1x.jpg");
    }
}
.block-business__item-two {
    margin-top: clamp(0px,5vw,72px);
    @include screen(640px, 1023px) {
        margin-top: 0;
    }
    .block-business__item-image-shadow {
        background: url("../img/block--business/image-02--1x.jpg");
    }
}
.block-business__item-name {
    font-weight: 600;
    font-size: clamp(16px,1.806vw,26px);
    line-height: 145%;
    margin-bottom: clamp(20px,1.806vw,30px);
}
.block-business__item-list {
    display: flex;
    flex-direction: column;
    grid-gap: clamp(16px,1.806vw,30px);
}
.block-business__item-item {
    display: flex;
    align-items: center;
    grid-gap: clamp(16px,1.806vw,30px);
}
.block-business__item-icon {
    border-radius: 15px;
    background-color: #d9d9d9;
    width: clamp(48px,4.306vw,62px);
    height: clamp(48px,4.306vw,62px);
    flex: 0 0 auto;
}
.block-business__item-text {
    flex: 1;
    font-weight: 400;
    font-size: clamp(16px,1.389vw,20px);
    line-height: 145%;
}

.block-launch-now {
    margin-bottom: clamp(64px,15.972vw,230px);
}
.block-launch-now__header {
    margin-bottom: clamp(24px,2.847vw,41px);
}
.block-launch-now__title {
    margin-bottom: 8px;
}
.block-launch-now__content {
    display: flex;
    grid-gap: clamp(16px,2.361vw,34px);
    @include max-screen(767px) {
        flex-direction: column;
        grid-gap: 48px;
    }
}
.block-launch-now__item {
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-radius: clamp(8px,1.736vw,25px);
    padding: clamp(16px,3.194vw,46px) clamp(16px,3.194vw,46px) 0;
    @include max-screen(767px) {
        border: none;
        padding: 0;
    }
}
.block-launch-now__item-close-tasks {
    flex: 1;
}
.block-launch-now__item-create-chatbot {
    flex: 0 0 auto;
    width: clamp(364px,31.528vw,454px);
    @include max-screen(767px) {
        width: 100%;
    }
}

.close-tasks__title {
    font-weight: 600;
    font-size: clamp(18px,1.806vw,26px);
    line-height: 145%;
    margin-bottom: 6px;
}
.close-tasks__description {
    font-weight: 400;
    font-size: clamp(16px,1.25vw,18px);
    line-height: 145%;
    margin-bottom: clamp(0px,5.556vw,80px);
    max-width: 441px;
}
.close-tasks__content {
    border-radius: clamp(8px,1.736vw,25px) clamp(8px,1.736vw,25px) 0 0;
    width: clamp(0px,33.542vw,483px);
    height: clamp(494px,32.708vw,471px);
    background-color: #f9fafd;
    margin: auto;
    padding: 36px 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: hidden;
    @include max-screen(767px) {
        width: clamp(290px,62.973vw,483px);
    }
}
.close-tasks__message {
    position: absolute;
    background-color: #fff;
    border-radius: 5px;
    overflow: hidden;
    padding: 10px 12px;
    margin-bottom: 13px;
    width: clamp(0px,23.264vw,335px);
    user-select: none;
    @include max-screen(767px) {
        width: clamp(260px,43.677vw,335px);
    }
    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 4px;
    }
}
.close-tasks__message-one {
    animation: message-one ease-in-out 2.5s 3s infinite;
    top: 36px;
    left: calc(0px - clamp(0px,23.264vw,335px));
    @include max-screen(767px) {
        left: calc(0px - clamp(260px,43.677vw,335px));
    }
    &:before {
        background-color: #446ff2;
    }
}
.close-tasks__message-two {
    animation: message-two ease-in-out 2.5s 3s infinite;
    top: calc(36px + 124px + 13px);
    left: calc(0px - clamp(0px,23.264vw,335px));
    @include max-screen(767px) {
        left: calc(0px - clamp(260px,43.677vw,335px));
    }
    &:before {
        background-color: #f3764a;
    }
}
.close-tasks__message-three {
    animation: message-three ease-in-out 2.5s 3s infinite;
    top: calc(36px + 124px + 13px + 124px + 13px);
    left: calc(0px - clamp(0px,23.264vw,335px));
    @include max-screen(767px) {
        left: calc(0px - clamp(260px,43.677vw,335px));
    }
    &:before {
        background-color: #48b63f;
    }
}
@include min-screen(768px) {
    @keyframes message-one {
        0% {top: 36px; left: calc(0px - clamp(0px,23.264vw,335px));}
        20%,40% {top: 36px; left: clamp(0px,5.069vw,73px);}
        60%,70% {top: calc(36px + 124px + 13px); left: clamp(0px,5.069vw,73px);}
        100% {top: calc(36px + 124px + 13px + 124px + 13px); left: clamp(0px,5.069vw,73px);}
    }
    @keyframes message-two {
        0% {top: calc(36px + 124px + 13px); left: calc(0px - clamp(0px,23.264vw,335px));}
        60%,70% {top: 36px; left: clamp(0px,5.069vw,73px);}
        100% {top: calc(36px + 124px + 13px); left: clamp(0px,5.069vw,73px);}
    }
    @keyframes message-three {
        0% {top: calc(36px + 124px + 13px + 124px + 13px); left: calc(0px - clamp(0px,23.264vw,335px));}
        90%,100% {top: 36px; left: clamp(0px,5.069vw,73px);}
    }
}
@include max-screen(767px) {
    @keyframes message-one {
        0% {top: 36px; left: calc(0px - clamp(260px,43.677vw,335px));}
        20%,40% {top: 36px; left: clamp(0px,5.069vw,73px);}
        60%,70% {top: calc(36px + 124px + 13px); left: clamp(0px,5.069vw,73px);}
        100% {top: calc(36px + 124px + 13px + 124px + 13px); left: clamp(0px,5.069vw,73px);}
    }
    @keyframes message-two {
        0% {top: calc(36px + 124px + 13px); left: calc(0px - clamp(260px,43.677vw,335px));}
        60%,70% {top: 36px; left: clamp(0px,5.069vw,73px);}
        100% {top: calc(36px + 124px + 13px); left: clamp(0px,5.069vw,73px);}
    }
    @keyframes message-three {
        0% {top: calc(36px + 124px + 13px + 124px + 13px); left: calc(0px - clamp(260px,43.677vw,335px));}
        90%,100% {top: 36px; left: clamp(0px,5.069vw,73px);}
    }
}
.close-tasks__name {
    font-weight: 500;
    font-size: 12px;
    line-height: 145%;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 8px;
}
.close-tasks__text {
    font-weight: 500;
    font-size: 14px;
    line-height: 145%;
    margin-bottom: 10px;
}
.close-tasks__date {
    font-weight: 500;
    font-size: 14px;
    line-height: 145%;
    text-align: center;
    color: rgba(0, 0, 0, 0.5);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 26px;
    padding: 0 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.create-chatbot__title {
    font-weight: 600;
    font-size: clamp(18px,1.806vw,26px);
    line-height: 145%;
    margin-bottom: 6px;
}
.create-chatbot__description {
    font-weight: 400;
    font-size: clamp(16px,1.25vw,18px);
    line-height: 145%;
    margin-bottom: clamp(0px,5.556vw,80px);
    max-width: 423px;
}
.create-chatbot__content {
    position: relative;
    width: clamp(290px,40.808vw,313px);
    height: 471px;
    margin: auto;
    overflow: hidden;
}
.create-chatbot__phone {
    @include max-screen(767px) {
        height: 100%;
    }
}
.create-chatbot__message {
    position: absolute;
}
.create-chatbot__message_left {
    left: 0;
    transform: translateX(-100%);
}
.create-chatbot__message_right {
    left: 100%;
    transform: translateX(0);
}
.create-chatbot__message-1 {
    animation: chatbot-message-1 ease-in-out 3s infinite;
    top: 84px;
}
.create-chatbot__message-2 {
    animation: chatbot-message-2 ease-in-out 3s infinite;
    top: 112px;
}
.create-chatbot__message-3 {
    animation: chatbot-message-3 ease-in-out 3s infinite;
    top: 170px;
}
.create-chatbot__message-4 {
    animation: chatbot-message-4 ease-in-out 3s infinite;
    top: 198px;
}
.create-chatbot__message-5 {
    animation: chatbot-message-5 ease-in-out 3s infinite;
    top: 378px;
}
.create-chatbot__message-6 {
    animation: chatbot-message-6 ease-in-out 3s infinite;
    top: 406px;
}
@keyframes chatbot-message-1 {
    0% {
        width: 0;
        height: 0;
        transform: translateX(0);
    }
    5%,10% {
        width: 176px;
        height: 27px;
        transform: translateX(calc(0px - 100% - 20px));
    }
    10%,100% {
        width: 176px;
        height: 27px;
        transform: translateX(calc(0px - 100% - 20px));
    }
}
@keyframes chatbot-message-2 {
    0%,10% {
        width: 0;
        height: 0;
        transform: translateX(-100%);
    }
    20%,30% {
        width: 210px;
        height: 57px;
        transform: translateX(20px);
    }
    30%,100% {
        width: 210px;
        height: 57px;
        transform: translateX(20px);
    }
}
@keyframes chatbot-message-3 {
    0%,10% {
        width: 0;
        height: 0;
        transform: translateX(0);
    }
    20%,30% {
        width: 0;
        height: 0;
        transform: translateX(0);
    }
    40%,50% {
        width: 188px;
        height: 27px;
        transform: translateX(calc(0px - 100% - 20px));
    }
    50%,100% {
        width: 188px;
        height: 27px;
        transform: translateX(calc(0px - 100% - 20px));
    }
}
@keyframes chatbot-message-4 {
    0%,10% {
        width: 0;
        height: 0;
        transform: translateX(-100%);
    }
    20%,30% {
        width: 0;
        height: 0;
        transform: translateX(-100%);
    }
    40%,50% {
        width: 0;
        height: 0;
        transform: translateX(-100%);
    }
    60%,70% {
        width: 210px;
        height: 180px;
        transform: translateX(20px);
    }
    70%,100% {
        width: 210px;
        height: 180px;
        transform: translateX(20px);
    }
}
@keyframes chatbot-message-5 {
    0%,10% {
        width: 0;
        height: 0;
        transform: translateX(0);
    }
    20%,30% {
        width: 0;
        height: 0;
        transform: translateX(0);
    }
    40%,50% {
        width: 0;
        height: 0;
        transform: translateX(0);
    }
    60%,70% {
        width: 0;
        height: 0;
        transform: translateX(0);
    }
    80%,90% {
        width: 88px;
        height: 27px;
        transform: translateX(calc(0px - 100% - 20px));
    }
    90%,100% {
        width: 88px;
        height: 27px;
        transform: translateX(calc(0px - 100% - 20px));
    }
}
@keyframes chatbot-message-6 {
    0%,10% {
        width: 0;
        height: 0;
        transform: translateX(-100%);
    }
    20%,30% {
        width: 0;
        height: 0;
        transform: translateX(-100%);
    }
    40%,50% {
        width: 0;
        height: 0;
        transform: translateX(-100%);
    }
    60%,70% {
        width: 0;
        height: 0;
        transform: translateX(-100%);
    }
    80%,90% {
        width: 0;
        height: 0;
        transform: translateX(-100%);
    }
    100% {
        width: 210px;
        height: 46px;
        transform: translateX(20px);
    }
}

.block-we-will-be {
    margin-bottom: clamp(64px,15.972vw,230px);
}
.block-we-will-be__header {
    margin-bottom: clamp(24px,4.954vw,38px);
}
.block-we-will-be__title {
    margin-bottom: 8px;
}
.block-we-will-be__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: clamp(16px,2.639vw,38px);
    @include max-screen(767px) {
        grid-template-columns: 1fr;
    }
}
.block-we-will-be__column {
    display: flex;
    flex-direction: column;
    grid-gap: clamp(16px,2.847vw,41px);
}
.block-we-will-be__item {
    border-radius: clamp(8px,1.736vw,25px);
}
.block-we-will-be__item-name {
    font-weight: 600;
    font-size: clamp(16px,1.875vw,27px);
    line-height: 145%;
    color: #fff;
    margin-bottom: clamp(16px,1.181vw,17px);
}
.block-we-will-be__item-text {
    font-weight: 500;
    font-size: clamp(16px,1.389vw,20px);
    line-height: 145%;
    color: rgba(255, 255, 255, 0.85);
}
.block-we-will-be__item_1 {
    padding: clamp(16px,2.5vw,36px);
    background: linear-gradient(201deg, #ffc700 0%, rgba(255, 0, 122, 0.6) 29.86%, rgba(143, 0, 255, 0) 100%), linear-gradient(180deg, #478cf6 0%, #3060f1 100%);
}
.block-we-will-be__item_2 {
    padding: clamp(16px,2.431vw,35px) clamp(16px,2.5vw,36px) 79px clamp(16px,2.5vw,36px);
    background: linear-gradient(219deg, #ffcf26 0%, #e55605 100%);
    @include max-screen(767px) {
        padding-bottom: clamp(16px,2.5vw,36px);
    }
}
.block-we-will-be__item_3 {
    padding: clamp(16px,2.431vw,35px) clamp(16px,2.5vw,36px) 79px clamp(16px,2.5vw,36px);
    background: linear-gradient(36deg, #7e50fe 0%, #35d5df 100%);
    @include max-screen(767px) {
        padding-bottom: clamp(16px,2.5vw,36px);
    }
}
.block-we-will-be__item_4 {
    padding: clamp(16px,2.5vw,36px);
    background-color: #5bbc53;
    background-image: linear-gradient(352deg, #c5e020 0%, rgba(173, 255, 0, 0) 100%);
}

.block-four-stages {
    margin-bottom: clamp(64px,19.167vw,276px);
}
.block-four-stages__header {
    margin-bottom: clamp(24px,2.22vw,32px);
}
.block-four-stages__title {
    margin-bottom: 8px;
}
.block-four-stages__description {
    font-weight: 400;
}
.block-four-stages__content {
    position: relative;
    display: flex;
    flex-direction: column;
    grid-gap: clamp(16px,2.361vw,34px);
    &:after {
        content: '';
        position: absolute;
        top: clamp(0px,2.083vw,30px);
        left: calc(0px - clamp(0px,5.486vw,79px));
        right: calc(0px - clamp(0px,5.486vw,79px));
        width: clamp(0px,92.361vw,1330px);
        height: clamp(0px,62.083vw,894px);
        filter: blur(155.3000030517578px);
        background: linear-gradient(218deg, rgba(112, 0, 255, 0.08) 0%, rgba(0, 255, 240, 0.08) 100%);
        z-index: -1;
    }
}
.block-four-stages__item {
    position: relative;
    border-radius: clamp(8px, 1.736vw, 25px);
    background-color: #fff;
    box-shadow: 0 4px 22px 0 rgba(57, 48, 103, 0.05);
    padding: clamp(16px,1.806vw,26px) clamp(16px,2.361vw,34px);
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
    grid-gap: clamp(16px,2.361vw,34px);
    @include max-screen(1023px) {
        grid-template-columns: 2fr 1fr 1fr;
    }
    @include max-screen(767px) {
        grid-template-columns: 1fr;
    }
}
.block-four-stages__bullet {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    transform: translateX(-50%);
    @include max-screen(1023px) {
        display: none;
    }
}
.block-four-stages__dot {
    position: absolute;
    top: calc(50% + 21px);
    left: -18px;
    bottom: 0;
    width: 10px;
    height: clamp(0px,12.153vw,175px);
    @include max-screen(1023px) {
        display: none;
    }
}
.block-four-stages__name {
    font-weight: 600;
    font-size: clamp(18px,1.667vw,24px);
    line-height: 145%;
    margin-bottom: clamp(16px,1.389vw,20px);
}
.block-four-stages__text {
    font-weight: 400;
    font-size: clamp(16px,1.389vw,20px);
    line-height: 145%;
    color: rgba(0, 0, 0, 0.5);
}
.block-four-stages__label {
    font-weight: 400;
    font-size: clamp(16px,1.389vw,20px);
    line-height: 145%;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: clamp(4px,0.556vw,8px);
}
.block-four-stages__values {
    display: flex;
    flex-direction: column;
    grid-gap: 9px;
}
.block-four-stages__value {
    font-weight: 600;
    font-size: clamp(18px,1.667vw,24px);
    line-height: 145%;
}

.block-tabs {
    margin-bottom: clamp(64px,15.972vw,230px);
}
.block-tabs__header {
    margin-bottom: clamp(24px,3.75vw,54px);
}
.block-tabs__columnt-one {
    flex: 1;
}
.block-tabs__columnt-two {
    flex: 0 0 auto;
    width: clamp(276px,28.542vw,411px);
}
.block-tabs__name {
    font-weight: 500;
    font-size: clamp(18px,2.22vw,32px);
    line-height: 145%;
    margin-bottom: clamp(16px,2.22vw, 32px);
    max-width: 646px;
}
.block-tabs__text {
    font-weight: 400;
    font-size: clamp(16px,1.667vw,24px);
    line-height: 145%;
    color: rgba(0, 0, 0, 0.5);
    max-width: 586px;
}
.block-tabs__image {
    display: block;
    max-width: 100%;
    height: auto;
}
.block-tabs__tabs {
    display: flex;
    grid-gap: 5px;
    flex-wrap: wrap;
    margin-bottom: clamp(24px,3.889vw,56px);
}
.block-tabs__tab {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 14px;
    font-weight: 600;
    font-size: clamp(16px,1.389vw,20px);
    line-height: 145%;
    height: clamp(36px,4.306vw,62px);
    padding: 0 clamp(16px,3.264vw,47px);
    cursor: pointer;
    transition: all .3s;
}
.block-tabs__tab_theme_1 {
    background-color: rgba(87, 153, 255, 0.1);
    &.is-active,
    &:hover {
        background-color: rgba(87, 153, 255, 0.3);
    }
}
.block-tabs__tab_theme_2 {
    background-color: rgba(206, 143, 255, 0.1);
    &.is-active,
    &:hover {
        background-color: rgba(206, 143, 255, 0.3);
    }
}
.block-tabs__tab_theme_3 {
    background-color: rgba(255, 174, 99, 0.1);
    &.is-active,
    &:hover {
        background-color: rgba(255, 174, 99, 0.3);
    }
}
.block-tabs__tab_theme_4 {
    background-color: rgba(79, 226, 66, 0.1);
    &.is-active,
    &:hover {
        background-color: rgba(79, 226, 66, 0.3);
    }
}
.block-tabs__tab_theme_5 {
    background-color: rgba(234, 216, 59, 0.1);
    &.is-active,
    &:hover {
        background-color: rgba(234, 216, 59, 0.3);
    }
}
.block-tabs__tabs-content {
    display: grid;
}
.block-tabs__tab-content {
    grid-column: 1;
    grid-row: 1;
    opacity: 0;
    visibility: hidden;
    display: flex;
    grid-gap: 24px;
    border-radius: clamp(8px, 1.736vw, 25px);
    padding: clamp(0px,3.542vw,51px) clamp(0px,3.264vw,47px);
    transition: all .3s;
    @include max-screen(767px) {
        flex-direction: column;
    }
    &.is-active {
        display: flex;
        opacity: 1;
        visibility: visible;
    }
}
.block-tabs__tab-content_theme_1 {
    background-color: rgba(87, 153, 255, 0.3);
}
.block-tabs__tab-content_theme_2 {
    background-color: rgba(206, 143, 255, 0.1);
}
.block-tabs__tab-content_theme_3 {
    background-color: rgba(255, 174, 99, 0.1);
}
.block-tabs__tab-content_theme_4 {
    background-color: rgba(79, 226, 66, 0.1);
}
.block-tabs__tab-content_theme_5 {
    background-color: rgba(234, 216, 59, 0.1);
}

.block-personal-solution {
    margin-bottom: clamp(64px,15.972vw,230px);
}
.block-personal-solution__content {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 24px;
    background-color: #f4f7fd;
    border-radius: clamp(8px, 1.736vw, 25px);
    padding: clamp(16px,5.208vw,75px) clamp(16px,3.333vw,48px);
    @include max-screen(767px) {
        grid-template-columns: 1fr;
    }
}
.block-personal-solution__title {
    font-weight: 600;
    max-width: 350px;
    margin-bottom: clamp(0px,6.944vw,100px);
}
.block-personal-solution__list {
    display: flex;
    flex-direction: column;
    grid-gap: clamp(16px,1.389vw,20px);
}
.block-personal-solution__item {
    display: grid;
    grid-template-columns: clamp(24px,4.028vw,58px) 1fr;
    grid-gap: clamp(16px,2.22vw,32px);
}
.block-personal-solution__icon-wrapper {
    width: clamp(24px,4.028vw,58px);
    height: clamp(24px,4.028vw,58px);
}
.block-personal-solution__icon {
    display: block;
    object-fit: contain;
    max-width: 100%;
    height: auto;
}
.block-personal-solution__name {
    font-weight: 400;
    font-size: clamp(16px,1.389vw,20px);
    line-height: 145%;
    color: rgba(0, 0, 0, 0.5);
}
.block-personal-solution__form {
    border-radius: clamp(8px, 1.736vw, 25px);
    box-shadow: 0 4px 22px 0 rgba(34, 69, 57, 0.05);
    background-color: #fff;
    height: 100%;
    padding: clamp(16px,7.778vw,112px) clamp(16px,6.736vw,97px);
    display: flex;
    justify-content: center;
    @include max-screen(767px) {
        padding: 16px;
    }
    .form {
        width: clamp(0px,26.944vw,388px);
        @include max-screen(767px) {
            width: 100%;
        }
    }
}

.form {
    display: flex;
    flex-direction: column;
    grid-gap: clamp(16px,1.667vw,24px);
}
.form__input {
    border-radius: 15px;
    padding: clamp(8px,0.694vw,10px) clamp(12px,1.389vw,20px);
    height: clamp(32px,3.333vw,48px);
    background-color: #eef3f8;
    border: none;
    font-weight: 600;
    font-size: clamp(16px,1.389vw,20px);
    line-height: 145%;
    color: rgba(0, 0, 0, 0.25);
    @include placeholder {
        font-family: var(--font-family);
        opacity: 1;
        font-weight: 600;
        font-size: clamp(16px,1.389vw,20px);
        line-height: 145%;
        color: rgba(0, 0, 0, 0.25);
    }
}
.form__action {
    margin: clamp(16px,1.667vw,24px) 0 clamp(8px,0.833vw,12px);
}
.form__submit {
    box-shadow: 0 4px 15px 0 rgba(42, 54, 84, 0.05);
    background: linear-gradient(180deg, #478cf6 0%, #3060f1 100%);
    border-radius: 15px;
    padding: clamp(8px,0.694vw,10px) clamp(16px,1.667vw,24px);
    width: 100%;
    height: 48px;
    border: none;
    cursor: pointer;
    font-weight: 500;
    font-size: clamp(16px,1.389vw,20px);
    line-height: 145%;
    text-align: center;
    color: #fff;
}
.form__field-checkbox {
    font-weight: 400;
    font-size: 14px;
    line-height: 145%;
}

.block-faq {
    margin-bottom: clamp(64px,21.224vw,163px);
}
.block-faq__header {
    margin-bottom: clamp(24px,3.333vw,48px);
}
.block-faq__item {
    margin-bottom: -1px;
    padding: 24px 0;
    position: relative;
    &:before,
    &:after {
        content: '';
        position: absolute;
        left: 12px;
        right: 12px;
    }
    &:before  {
        top: 0;
        border-top: 1px solid rgba(0, 0, 0, 0.1);
    }
    &:after {
        bottom: 0;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }
}
.block-faq__name {
    position: relative;
    font-weight: 500;
    font-size: clamp(16px,1.667vw,24px);
    line-height: 145%;
    margin-bottom: 18px;
    span {
        display: block;
        max-width: calc(100% - clamp(32px,5.833vw,84px));
    }
}
.block-faq__text {
    font-weight: 400;
    font-size: clamp(16px,1.667vw,24px);
    line-height: 145%;
    color: rgba(0, 0, 0, 0.5);
    max-width: calc(100% - clamp(32px,5.833vw,84px));
}
.block-faq__icon-wrapper {
    position: absolute;
    top: 0;
    right: clamp(16px,2.22vw,32px);
}

.block-blog {
    background-color: #f8f8f8;
    padding-top: clamp(24px,4.722vw,68px);
    padding-bottom: clamp(24px,6.389vw,92px);
    margin-bottom: clamp(64px,21.224vw,163px);
    .swiper-button-prev,
    .swiper-button-next {
        width: 16px;
        height: 26px;
        &:after {
            display: none;
        }
        @include max-screen(1023px) {
            display: none;
        }
    }
    .swiper-button-prev {
        left: calc(0px - clamp(16px,3.194vw,46px) - 16px);
    }
    .swiper-button-next {
        right: calc(0px - clamp(16px,3.194vw,46px) - 16px);
    }
}
.block-blog__header {
    margin-bottom: clamp(16px,1.389vw,20px);
}
.block-blog__content {
    position: relative;
}

.blog {
    position: relative;
    border-radius: clamp(8px,1.736vw,25px);
    background-color: #d9d9d9;
    height: clamp(200px,30.625vw,441px);
}
.blog__link {
    display: flex;
}
.blog__content {
    position: absolute;
    bottom: 6px;
    right: 6px;
    left: 6px;
    background-color: #fff;
    border-radius: clamp(8px,1.389vw,20px);
    padding: clamp(0px,2.361vw,34px) clamp(0px,1.389vw,21px) clamp(0px,2.917vw,42px);
}
.blog__title {
    font-weight: 800;
    font-size: clamp(18px,2.5vw,36px);
    line-height: 145%;
    color: rgba(0, 0, 0, 0.85);
}
.blog__description {
    font-weight: 500;
    font-size: clamp(16px,1.667vw,24px);
    line-height: 145%;
    color: rgba(0, 0, 0, 0.85);
}

.block-banner {
    margin-bottom: clamp(64px,11.944vw,172px);
}
.block-banner__title {
    font-weight: 600;
    font-size: clamp(24px,2.778vw,40px);
    line-height: 145%;
    color: #fff;
}
.block-banner__content {
    border-radius: clamp(8px, 1.736vw, 25px);
    padding: clamp(16px,2.639vw,38px) clamp(16px,3.333vw,48px) clamp(16px,3.194vw,46px);
    background-color: rgba(0, 0, 0, 1);
    background-image: url("../img/block--banner/image.png");
    background-position: right top;
    background-repeat: no-repeat;
    height: 297px;
    display: flex;
    flex-direction: column;
}
.block-banner__header {
    flex: 1;
}
.block-banner__title {
    max-width: clamp(0px,60.833vw,876px);
}
.block-banner__button {
    display: inline-flex;
    height: 44px;
    border: 2px solid #fff;
    border-radius: 37px;
    padding: 5px 20px;
    font-weight: 500;
    font-size: clamp(16px,1.667vw,24px);
    line-height: 145%;
    text-align: center;
    color: #fff;
    transition: all .3s;
    .value {
        display: flex;
        align-items: center;
        grid-gap: 10px;
    }
    path {
        transition: all .3s;
    }
    &:hover {
        background-color: #fff;
        color: var(--color-base-text);
        path {
            fill: var(--color-base-text);
        }
    }
}

.footer {
    background-color: #141414;
}
.footer__logo {
    font-family: var(--third-family);
    font-weight: 700;
    font-size: 36px;
    color: #2156f2;
    @include max-screen(767px) {
        display: none;
    }
}
.footer__container {
    display: grid;
    grid-template-columns: 1.7fr 1.3fr 0.9fr auto;
    grid-gap: 24px;
    padding: clamp(48px,6.944vw,100px) 0 clamp(48px,20.486vw,295px);
    position: relative;
    @include max-screen(620px) {
        grid-template-columns: 1fr;
    }
    &:after {
        content: '';
        position: absolute;
        bottom: clamp(44px,6.597vw,95px);
        right: clamp(0px,5.833vw,84px);
        left: clamp(0px,5.833vw,84px);
        height: 1px;
        background-color: rgba(255, 255, 255, 0.25);
    }
}
.footer__big-link {
    font-weight: 400;
    font-size: 24px;
    line-height: 145%;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: rgba(255, 255, 255, 0.55);
    display: inline-flex;
    margin-bottom: clamp(16px,2.5vw,36px);
}
.footer__menu-list {
    display: flex;
    flex-direction: column;
    grid-gap: clamp(8px,1.11vw,16px);
    margin: 0;
    padding: 0;
    list-style: none;
}
.footer__menu-item {
    margin: 0;
    padding: 0;
    list-style: none;
    &:before {
        display: none;
    }
}
.footer__menu-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 145%;
    color: rgba(255, 255, 255, 0.55);
}
.footer__column-four {
    text-align: right;
}
